.block.notice
  %h3 Bemvindo ao SIGNUS
  .content
    %p #{current_user.email}
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "/"} Principal
    %li
      %a{:href => "/bairros"} Bairros
    %li
      %a{:href => "/unidades"} Unidades
    %li
      %a{:href => "#"} Famílias
    %li
      %a{:href => "#"} Relatórios