#block-text.block
  .content
    %h2.title Sobre o SIGNUS
    .inner
      %p.first

        O Sistema de Gerenciamento de Unidades Sociais, SIGNUS 2011, foi criado para auxiliar o gerenciamento dos Prontuários Sociais do Município e garantir direitos do cidadão como família, infância, adolescência, velhice, inserção no mercado de trabalho, reabilitação profissional, integração comunitária e social.
      %p
        %h3 Começando
      %p
        %span.gray Clique no link ao lado para selecionar os cadastros que você deseja preencher.
        %span.hightlight Para voltar para esta tela clique em Principal.
      %hr/
      %p
        SIGNUS 2011 - versão 1.0.0
- content_for :sidebar, render(:partial => 'sidebar')
